A naive item-similarity based recommendar system. 
* Although the dataset has context based information, this kernel has been build purely using collaborative filtering technique.
* This is the first version of kernel and has not been optimized in any way. 
* There are better distance/similarity measures for these kind of problems

***Please feel free to give any suggestions that I can incorporate in coming version  ***

In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

bookDF=pd.read_csv('books.csv', error_bad_lines=False)
bookDF=bookDF.drop(['image_url','small_image_url','title','best_book_id','isbn','isbn13'],axis=1)
ratingsDF = pd.read_csv('../input/ratings.csv')

# Any results you write to the current directory are saved as output.

b'Skipping line 3350: expected 12 fields, saw 13\nSkipping line 4704: expected 12 fields, saw 13\nSkipping line 5879: expected 12 fields, saw 13\nSkipping line 8981: expected 12 fields, saw 13\n'

KeyError: "['image_url' 'small_image_url' 'best_book_id'] not found in axis"

In [2]:
bookDF.head(5)

,id,book_id,work_id,books_count,authors,original_publication_year,original_title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
0,1,2767052,2792775,272,Suzanne Collins,2008.0,The Hunger Games,eng,4.34,4780653,4942365,155254,66715,127936,560092,1481305,2706317
1,2,3,4640799,491,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,eng,4.44,4602479,4800065,75867,75504,101676,455024,1156318,3011543
2,3,41865,3212258,226,Stephenie Meyer,2005.0,Twilight,en-US,3.57,3866839,3916824,95009,456191,436802,793319,875073,1355439
3,4,2657,3275794,487,Harper Lee,1960.0,To Kill a Mockingbird,eng,4.25,3198671,3340896,72586,60427,117415,446835,1001952,1714267
4,5,4671,245494,1356,F. Scott Fitzgerald,1925.0,The Great Gatsby,eng,3.89,2683664,2773745,51992,86236,197621,606158,936012,947718

In [3]:
ratingsDF.head(5)

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

This part of the code is responsible for building the item-item similarity matrix
We first convert build a list of dictionary. Each dictionary corresponds to a single book. The user_id is the key, while rating given by the user for the book is its value.

In [4]:
listOfDictonaries=[]
indexMap = {}
reverseIndexMap = {}
ptr=0;
testdf = ratingsDF
testdf=testdf[['user_id','rating']].groupby(testdf['book_id'])
for groupKey in testdf.groups.keys():
    tempDict={}

    groupDF = testdf.get_group(groupKey)
    for i in range(0,len(groupDF)):
        tempDict[groupDF.iloc[i,0]]=groupDF.iloc[i,1]
    indexMap[ptr]=groupKey
    reverseIndexMap[groupKey] = ptr
    ptr=ptr+1
    listOfDictonaries.append(tempDict)

We then use sklearn's DictVectorizer() function to create vectors corresponding to each book. We are trying to create a vector space with users as column vectors. Each point in the vector space represents a book. Rating of the book given an user is its magnitude. We then calculate similarity/distance between books in this vector space.

In [5]:
from sklearn.feature_extraction import DictVectorizer
dictVectorizer = DictVectorizer(sparse=True)
vector = dictVectorizer.fit_transform(listOfDictonaries)

We finally use sklearn's consine_similarity function to calculate pairwise similarity matrix

In [6]:
from sklearn.metrics.pairwise import cosine_similarity
pairwiseSimilarity = cosine_similarity(vector)

At last we define a function that takes an input id and outputs 5 top most recommendations. Please note that this id is the column id in book.csv. Values of id are in  [1,10000]

In [7]:
def printBookDetails(bookID):
    print("Title:", bookDF[bookDF['id']==bookID]['original_title'].values[0])
    print("Author:",bookDF[bookDF['id']==bookID]['authors'].values[0])
    print("Printing Book-ID:",bookID)
    print("=================++++++++++++++=========================")


def getTopRecommandations(bookID):
    row = reverseIndexMap[bookID]
    print("------INPUT BOOK--------")
    printBookDetails(bookID)
    print("-------RECOMMENDATIONS----------")
    similarBookIDs = [printBookDetails(indexMap[i]) for i in np.argsort(pairwiseSimilarity[row])[-7:-2][::-1]]

In [8]:
getTopRecommandations(1245)

------INPUT BOOK--------
Title: The Brethren
Author: John Grisham
Printing Book-ID: 1245
=================++++++++++++++=========================
-------RECOMMENDATIONS----------
Title: The Street Lawyer
Author: John Grisham
Printing Book-ID: 1037
=================++++++++++++++=========================
Title: The Last Juror
Author: John Grisham
Printing Book-ID: 1388
=================++++++++++++++=========================
Title: The Testament
Author: John Grisham
Printing Book-ID: 1057
=================++++++++++++++=========================
Title: The Broker
Author: John Grisham
Printing Book-ID: 1301
=================++++++++++++++=========================
Title: The King of Torts
Author: John Grisham
Printing Book-ID: 1407
=================++++++++++++++=========================

In [9]:
getTopRecommandations(4536)

------INPUT BOOK--------
Title: Losing My Virginity: How I've Survived, Had Fun, and Made a Fortune Doing Business My Way
Author: Richard Branson
Printing Book-ID: 4536
=================++++++++++++++=========================
-------RECOMMENDATIONS----------
Title: Jack: Straight from the Gut
Author: Jack Welch, John A. Byrne, Mike Barnicle
Printing Book-ID: 8454
=================++++++++++++++=========================
Title: The Google Story: Inside the Hottest Business, Media, and Technology Success of Our Time
Author: David A. Vise
Printing Book-ID: 7146
=================++++++++++++++=========================
Title: In the Plex: How Google Thinks, Works, and Shapes Our Lives
Author: Steven Levy
Printing Book-ID: 6363
=================++++++++++++++=========================
Title: Shoe Dog: A Memoir by the Creator of Nike
Author: Phil Knight
Printing Book-ID: 6583
=================++++++++++++++=========================
Title: One Up On Wall Street : How To Use What You Already Know To Make Money In The Market
Author: Peter Lynch, John Rothchild
Printing Book-ID: 8903
=================++++++++++++++=========================

In [10]:
getTopRecommandations(99)

------INPUT BOOK--------
Title: Fifty Shades Darker
Author: E.L. James
Printing Book-ID: 99
=================++++++++++++++=========================
-------RECOMMENDATIONS----------
Title: Fifty Shades of Grey
Author: E.L. James
Printing Book-ID: 34
=================++++++++++++++=========================
Title: Me Before You
Author: Jojo Moyes
Printing Book-ID: 112
=================++++++++++++++=========================
Title: Big Little Lies
Author: Liane Moriarty
Printing Book-ID: 262
=================++++++++++++++=========================
Title: The Husband's Secret
Author: Liane Moriarty
Printing Book-ID: 235
=================++++++++++++++=========================
Title: The Nightingale
Author: Kristin Hannah
Printing Book-ID: 267
=================++++++++++++++=========================